#detail-lelang {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 48px;
}

.detail-lelang-container {
  display: grid;
  grid-template-columns: 1fr 24.5rem;
  column-gap: 80px;
}

.detail-lelang-left-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.detail-lelang-header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.detail-lelang-header-text {
  font-weight: 500;
  color: #1d2939;
}

.detail-lelang-right-section {
  width: 100%;
  height: fit-content;
  border: 1px solid #d2d9e1;
  border-radius: 4px;
  padding-bottom: 20px;
}

.detail-lelang-tanggal {
  width: 100%;
  color: #6d7073;
  font-size: 13.5px;
  line-height: 1.231px;
  background-color: #f5f5f6;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.detail-lelang-tanggal-text {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 32px;
}

.barang-preview {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d2d9e1;
  border-radius: 4px;
  margin-top: 28px;
  height: 100%;
}

.barang-preview-image {
  width: 100%;
  height: 100%;
}

.divider {
  height: 1px;
  background-color: #d2d9e1;
  margin-block: 28px;
  margin-top: 38px;
  border: none;
}

.barang-description {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.barang-description-header {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #1d2939;
}

.barang-description-text {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: #1d2939;
}

.detail-lelang-bid-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 24px;
}

.barang-lelang-status-current-bid {
  margin-top: calc(.75rem + 16px);
  text-transform: uppercase;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1818181818;
  letter-spacing: .0625rem;
  font-family: monospace;
  color: #565b60;
}

.barang-lelang-current-bid {
  font-size: 40px;
  line-height: 50px;
  margin-top: .45rem;
  font-weight: 500;
  color: #1d2939;
}

.pemenang-lelang {
  margin-top: 1.35rem;
  padding-inline: 24px;
}

.badge {
  margin-top: 1.25rem;
  width: fit-content;
  font-size: 14.5px;
  line-height: 19px;
  border-radius: 9999px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-weight: 500;
  text-transform: capitalize;
}

.badge.dibuka {
  background-color: #ecfdf3;
  color: #027a48;
}

.badge.ditutup {
  background-color: #fef3f2;
  color: #d92d20;
}

.detail-lelang-bid-action {
  margin-top: 1.35rem;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-inline: 24px;
}

.bid-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #465fff;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.bid-divider {
  height: 1px;
  margin-block: 32px;
  margin-top: 36px;
  background-color: #d2d9e1;
  border: none;
}

.bid-details {
  padding-inline: 24px;
}

.watching-box {
  width: 100%;
  margin-bottom: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1d2939;
  text-decoration: none;
  background-color: #fcedef;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}

.bid-list {
  list-style: none;
}

.bid-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  font-size: 14px;
}

.bid-item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bidder {
  color: #565b60;
}

.time {
  color: #848b97;
  font-weight: 400;
}

.price {
  color: #1d2939;
  font-weight: bold;
}