.beranda {
  width: 100%;
  min-height: calc(100dvh - 348px);
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-title {
  width: 100%;
  max-width: 500px;
  text-align: center;
  font-weight: 500;
  color: #1d2939;
  font-size: calc(0.25rem * 12);
}

.hero-text {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  color: #565b60;
  font-size: calc(0.25rem * 5);
}

.hero-ctas {
  display: flex;
  gap: 0.75rem;
}

.hero-cta {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #374151;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

.hero-cta.mulai-lelang {
  background-color: #465fff;
  color: #fff;
}

.hero-cta.pelajari-fitur {
  background-color: rgba(70, 95, 255, 0.2);
  color: #465fff;
}