#riwayat-lelang {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 48px;
}

.riwayat-lelang-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.riwayat-lelang-header-text {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.2352941176;
  color: #1d2939;
}

.riwayat-lelang-barang-container {
  margin-top: 24px;
}

.riwayat-lelang-barang-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  row-gap: 40px;
  list-style: none;
}

.barang-list-inner {
  display: block;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
}

.barang-list-image {
  width: 100%;
  height: 356px;
}

.barang-list-image img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.barang-list-content {
  width: 100%;
}

.barang-name {
  line-height: 1.3125rem;
  margin-top: .625rem;
  color: #1d2939;
  font-weight: 500;
  font-size: 1.0625rem;
}

.barang-status-start-bid,
.barang-status-current-bid {
  margin-top: .75rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1818181818;
  letter-spacing: .0625rem;
  font-family: monospace;
  color: #565b60;
}

.barang-bid,
.barang-status {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.barang-start-bid,
.barang-current-bid {
  margin-top: .25rem;
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.2631578947;
  color: #1d2939;
}

.lelang-card {
  position: relative;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  background: #f00;
  color: white;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 600;
  border-bottom-left-radius: 10px;
}

.ribbon-menang {
  background: #3cb371;
}

.ribbon-kalah {
  background: #f54b4b;
}

.status-filter {
  height: calc(0.25rem * 11);
  display: inline-flex;
  align-items: center;
  gap: calc(0.25rem * 0.5);
  border-radius: 0.5rem;
  background-color: #f2f4f7;
  padding: calc(0.25rem * 0.5);
}

.status-filter-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  cursor: pointer;
  color: #667085;
  transition: all 0.2s ease;
}

.status-filter-button.active {
  color: #111827;
  background-color: #ffffff;
}

.status-filter-button:hover {
  color: #111827;
}