#lelang {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 48px;
}

.lelang-header {
  display: flex;
}

.lelang-header-text {
  font-weight: 500;
  font-size: 1.1875rem;
  line-height: 1.2352941176;
  color: #1d2939;
}

.lelang-barang-container {
  margin-top: 24px;
}

.lelang-barang-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
  row-gap: 40px;
  list-style: none;
}

.barang-list-inner {
  display: block;
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e9ecef;
  transition: border-color 0.3s ease-out;
}

/* .barang-list-inner:hover {
  border-color: #007bff;
} */

.barang-list-image {
  width: 100%;
  height: 300px;
  background-color: #f8f9fa;
}

.barang-list-image img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.barang-list-content {
  width: 100%;
  padding: 16px;
}

.barang-name {
  line-height: 1.3125rem;
  margin-top: 0;
  color: #1d2939;
  font-weight: 600;
  font-size: 1.125rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.barang-bid-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.barang-bid-label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
  letter-spacing: .0625rem;
  color: #565b60;
}

.barang-bid-value {
  margin-top: 4px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3;
  color: #1d2939;
}

.barang-bid-value.start-price {
  color: #6c757d;
  font-weight: 500;
}

.barang-bid-value.current-price {
  color: #007bff;
  font-weight: 500;
}

.barang-bid-value.current-price.no-bid {
  color: #6c757d;
  font-weight: 500;
}

.barang-bidder-info {
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #e9ecef;
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.bidder-label {
  font-weight: 400;
  color: #565b60;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bidder-label.no-bid-message {
  color: #6c757d;
  justify-content: flex-start;
}

.bidder-name {
  font-weight: 600;
  color: #343a40;
  margin-left: 4px;
  flex-shrink: 0;
}