.edit-action {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  gap: 6px;
  font-size: 0.95rem;
  line-height: 1.5rem;
  flex-shrink: 0;
  color: #115dfc;
  text-decoration: none;
}

.delete-action {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  gap: 6px;
  font-size: 0.95rem;
  line-height: 1.5rem;
  flex-shrink: 0;
  color: #e7000b;
  text-decoration: none;
}