.data-table {
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: #fff;
  border: 1px solid #e4e7ec;
}

.data-table-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.25rem * 5);
  border-bottom: 1px solid #e4e7ec;
  padding: calc(0.25rem * 4) calc(0.25rem * 5);
}

.data-table-header-text {
  color: #1d2939;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.data-table-header-description {
  color: #667085;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.data-table-action {
  display: flex;
  gap: calc(0.25rem * 3);
}

.data-table-export-button,
.data-table-filter-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.6875rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 0.1px solid #d1d5db;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.data-table-add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #465fff;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease;
}


.data-table-filter-table {
  border-bottom: 1px solid #e4e7ec;
  padding: 1rem 1.25rem;
}

.data-table-filter-table-container {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
}

.data-table-filter-table-search {
  position: relative;
  flex: 1;
  flex: auto;
}

.data-table-filter-table-search-container {
  max-width: 300px;
}

.data-table-filter-table-select {
  position: relative;
}

.data-table-content-container {
  overflow-x: auto;
}

.data-table-content {
  table-layout: auto;
  width: 100%;
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

.data-table-thead .data-table-row {
  border-bottom: 1px solid #e4e7ec;
}

.data-table-row-header {
  padding: 1rem 1.25rem;
  text-align: left;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #667085;
}

.data-table-tbody {
  border-collapse: separate;
}

.data-table-tbody>*:not(:last-child) {
  border-bottom: 1px solid #e5e7eb;
}

.data-table-tbody .data-table-row {
  transition: all 0.3s ease;
}

.data-table-tbody .data-table-row:hover {
  background-color: #f9fafb;
}

.data-table-row-cell {
  padding: 1rem 1.25rem;
  white-space: nowrap;
}

.default-cell-text {
  color: #344054;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.data-table-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.data-table-toggle-filter {
  height: calc(0.25rem * 11);
  display: inline-flex;
  align-items: center;
  gap: calc(0.25rem * 0.5);
  border-radius: 0.5rem;
  background-color: #f2f4f7;
  padding: calc(0.25rem * 0.5);
}

.data-table-toggle-filter-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 500;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
  cursor: pointer;
  color: #667085;
  transition: all 0.2s ease;
}

.data-table-toggle-filter-button.active {
  color: #111827;
  background-color: #ffffff;
}

.data-table-toggle-filter-button:hover {
  color: #111827;
}