.form-card {
  border-radius: 0.75rem;
  background-color: #fff;
  border: 1px solid #e4e7ec;
}

.form-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.25rem * 5);
  border-bottom: 1px solid #e4e7ec;
  padding: calc(0.25rem * 4) calc(0.25rem * 5);
}

.form-card-header-text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #1d2939;
}

.form-card-content {
  padding: 1.5rem;
}