.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.previous-page, .next-page {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  padding: calc((0.25rem * 2) + 1px);
  color: #374151;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;
}

.previous-page:hover, .next-page:hover {
  background-color: #f9fafb;
  color: #1f2937;
}

.previous-page:disabled, .next-page:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-elements {
  display: flex;
  gap: calc(0.25rem * 0.5);
  align-items: center;
}

.pagination-element {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #374151;
  background-color: transparent;
  transition: all 0.2s ease;
  cursor: pointer;
}

.pagination-element.active {
  color: #fff;
  background-color: #465fff;
}