.form-action-select {
  position: relative;
}

.form-action-select-input {
  appearance: none;
  width: 100%;
  height: 2.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: transparent;
  color: #1f2937;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
}

.form-action-select-input:focus {
  outline: none;
  border-color: #93c5fd;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.form-action-select-input:invalid {
  color: #9ca3af;
  text-transform: none;
}

.form-action-select-icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 30;
  transform: translateY(-40%);
  color: #374151;
}