.sidebar {
  width: 290px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  border-right: 1px solid #e4e7ec;
  padding-inline: calc(0.25rem * 5);
}

.sidebar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.25rem * 2);
  padding-top: calc(0.25rem * 8);
  padding-bottom: calc(0.25rem * 7);
}

.brand-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: calc(0.25rem * 3);
}

.sidebar-logo {
  border-radius: 6px;
}

.sidebar-brand-text {
  font-size: calc(0.25rem * 6);
  font-weight: 600;
  color: #101828;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.group-title {
  margin-bottom: calc(0.25rem * 4);
  color: #98a2b3;
  line-height: 20px;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
}

.group-item-menus {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: calc(0.25rem * 6);
}

.menu-item {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: calc(0.25rem * 3);
  border-radius: 0.5rem;
  padding-inline: calc(0.25rem * 3);
  padding-block: calc(0.25rem * 2);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #667085;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #f2f4f7;
}

.menu-item.active {
  background-color: #ecf3ff;
  color: #465fff;
}

.menu-item-text,
.menu-item-icon {
  color: inherit;
}