.feed-wrapper {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
  transition: top .14s ease;
  min-height: 83px;
  display: flex;
}

.feed-content {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  margin-top: 20px;
}

.tab-list {
  width: 100%;
}

.tab-list-inner {
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
}

.tab-list-item {
  flex-grow: 1;
  display: block;
}

.tab-list-item-anchor {
  width: 100%;
  text-decoration: none;
  color: #1f2937;
}

.tab-list-content {
  cursor: pointer;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.tab-list-button {
  cursor: pointer;
  border: none;
  border-bottom: 4px solid transparent;
  width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  outline: none;
  background-color: #fff;
  color: #374151;
  transition: all .2s ease;
}

.tab-list-button:not(.active):hover {
  border-color: #d2d9e1;
}

.tab-list-button.active {
  border-color: #465fff;
  color: #465fff;
}

.tab-list-text {
  font-weight: 500;
  font-size: 14.5px;
  color: inherit;
}