.barang, .tambah-barang, .edit-barang {
  max-width: 1536px;
  margin: 0 auto;
  padding: calc(0.25rem * 6) calc(0.25rem * 5);
}

.barang-cell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.barang-preview {
  width: calc(0.25rem * 12);
  height: calc(0.25rem * 12);
}

.barang-preview-image {
  width: calc(0.25rem * 12);
  height: calc(0.25rem * 12);
  border-radius: 0.375rem;
}

.barang-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #344054;
}

.barang-description {
  max-width: 360px;
}

.barang-actions {
  max-width: 110px;
  display: flex;
  gap: 1rem;
}

.barang-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.barang-info-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.deskripsi-barang-group {
  grid-column: 1 / -1;
}

#deskripsi-barang {
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 1rem;
  padding-right: 3.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: transparent;
  color: #1f2937;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  resize: none;
}

#deskripsi-barang::placeholder {
  color: #9ca3af;
}

#deskripsi-barang:focus {
  outline: none;
  border-color: #93c5fd;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.upload-foto-barang {
  position: relative;
  display: block;
  cursor: pointer;
  border-width: 2px;
  border-style: dashed;
  border-color: #d1d5db;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.upload-foto-barang:hover {
  border-color: #3b82f6;
}

.upload-foto-barang-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.upload-foto-barang-inner-box {
  display: flex;
  max-width: 260px;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.upload-foto-barang-inner-box-icon {
  display: inline-flex;
  height: 3.25rem;
  width: 3.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #e5e7eb;
  color: #374151;
}

.upload-foto-barang-inner-box-label {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #667085;
}

.click-to-upload {
  font-weight: 500;
  color: #1d2939;
}

.barang-form-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: #465fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.2s;
  outline: none;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3641f5;
}