.lelang,
.aktivasi-lelang {
  max-width: 1536px;
  margin: 0 auto;
  padding: calc(0.25rem * 6) calc(0.25rem * 5);
}

.lelang-actions {
  max-width: 110px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.lelang-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.lelang-info-form,
.lelang-barang-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1.5rem;
}

.lelang-barang, .lelang-date {
  grid-column: 1 / -1;
}

.lelang-form-actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.submit-button {
  background-color: #465fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.2s;
  outline: none;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #3641f5;
}

.barang-cell {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.barang-preview {
  width: calc(0.25rem * 12);
  height: calc(0.25rem * 12);
}

.barang-preview-image {
  width: calc(0.25rem * 12);
  height: calc(0.25rem * 12);
  border-radius: 0.375rem;
}

.barang-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #344054;
}

.badge {
  font-size: 0.75rem;
  border-radius: 9999px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-weight: 500;
  text-transform: capitalize;
}

.badge.dibuka {
  background-color: #ecfdf3;
  color: #027a48;
}

.badge.ditutup {
  background-color: #fef3f2;
  color: #d92d20;
}

.badge.nonaktif {
  background-color: #f2f4f7;
  color: #475467;
}